{{> welcome-menu}}

<div class="columns is-vcentered mt-6">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <figure class="image">
      <img class="is-rounded" src="/images/welcome-img.jpg">
    </figure>
  </div>
</div>